.vscode/
__pycache__
out
temp
work
subjects
log
# *NSFW*
*.zip
assets/opencv*
statistics/
statistics-v1/
ignore/
reference-papers/
configs/config.json
.env
.pytest_cache/
*temp*
*tmp*
*.log
*.csv
*.json
*.db
*.sqlite
*.sqlite3
*.pkl
*.pickle
*.pkl.*